{
  "presets": [
    [
        "@babel/env",
        {
            "targets":{
                "esmodules": true
            }
        }
    ],

    "airbnb"
  ],
  "plugins": [

             "@babel/plugin-transform-runtime",
             "add-module-exports"

             ]
}
