{
  "presets": ["@babel/env"],
  "plugins": [

             "@babel/plugin-transform-runtime",
             "transform-async-to-generator",
             "syntax-async-functions",
             "add-module-exports"

             ]
}
